body {
    background-color: #ffbea7;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input {
    height: 250px;
    width: 200px;
}